<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PeglinFolder" value="C:\Program Files (x86)\Steam\steamapps\common\Peglin" />
		<add key="AssetRipperApplication" value="C:\Users\archd\Downloads\AssetRipper_win_x64\AssetRipper.exe" />
	</appSettings>
</configuration>