<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Peglin Relics</title>
    <style>
		body {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			font-family: Arial, sans-serif;
			max-width: 1000px;
		}
		
        .relic-container {
			border: 2px solid #000000;
			border-radius: 5px;
			height: 50px;
			width: 50px;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 5px;
		}
		
        .relic-container img {
            height: 50px;
            width: 50px;
			image-rendering: pixelated;
        }
		
		.tooltip {
			position: relative;
			display: inline-block;
		}

		.tooltip .tooltiptext {
			visibility: hidden;
			width: 200px;
			background-color: black;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px;

			/* Position the tooltip */
			position: absolute;
			z-index: 1;
		}

		.tooltip:hover .tooltiptext {
			visibility: visible;
		}
		
		.relic-name {
			font-size: 18px;
			font-weight: bold;
		}
		
		.relic-description {
			font-size: 14px;
		}
    </style>
  </head>
  <body>
    {{#each relics}}
		<div class="tooltip">
			<div class="relic-container">
				<img src="img/{{this.ImageFileName}}" />
			</div>
			<div class="tooltiptext">
				<div class="relic-name">
					{{this.Name}}
				</div>
				<div class="relic-description">
					{{this.DescCombined}}
				</div>
			</div>
        </div>
    {{/each}}
  </body>
</html>