<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peglin Relics</title>
	<link rel="icon" type="image/x-icon" href="img/peglin-icon.ico">
	<meta name="description" content="This page, titled Peglin Relics, is a simple viewer for relics in the Peglin video game. Hover over images to see relic names and descriptions.">
	<meta name="keywords" content="peglin, relic, relics, viewer"> 
    <style>
		body {
			font-family: Arial, sans-serif;
			max-width: calc(100% - 150px);
		}

		.flex-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		
        .relic-container {
			border: 2px solid #000000;
			border-radius: 5px;
			height: 50px;
			width: 50px;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 5px;
			background-repeat: no-repeat;
			background-position: 5px;
			image-rendering: pixelated;
			background-size: 50px;
		}
		
		.tooltip {
			position: relative;
			display: inline-block;
		}

		.tooltip .tooltiptext {
			visibility: hidden;
			width: 200px;
			background-color: black;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px;

			/* Position the tooltip */
			position: absolute;
			z-index: 1;
		}

		.tooltip:hover .tooltiptext {
			visibility: visible;
		}
		
		.relic-name {
			font-size: 18px;
			font-weight: bold;
		}
		
		.relic-description {
			font-size: 14px;
		}

		/* customizations for individual resources to fix some images */
		.bramble_blind_combo {
            background-size: 150px;
            background-clip: content-box;
            background-position: 5px 5px;
        }

		.crit_pit {
			background-position: -15px -15px;
			background-size: 180px;
		}

		.inflight_damage {
			background-position: 2px;
			background-size: 300px;
		}

		.attacks_apply_poison {
			background-position: top;
			background-size: 160px;
		}

		.crits_provide_pierce {
			background-size: 135px;
			background-clip: content-box;
			background-position: 10px 5px;
		}
    </style>
  </head>
  <body>
	<h1>Peglin Relics</h1>
	<p>A simple viewer for relics in the Peglin video game. Hover over images to see relic names and descriptions.</p>
	<div class="flex-container">
		{{#each relics}}
		<div class="tooltip">
			<div class="relic-container {{this.LocKey}}" style="background-image: url('img/{{this.ImageFileName}}');" >
			</div>
			<div class="tooltiptext">
				<div class="relic-name">
					{{this.Name}}
				</div>
				<div class="relic-description">
					{{this.DescCombined}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
  </body>
</html>